
body {
    background: url("assets/images/concrete_seamless.png");
}

.container {
    margin-top: 30px;
    border-top-width: 20px;
    border-top-color: gray;
}

h1 {
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
    background-color: lightgrey;
}

img {
    padding-left: 10px;
    padding-top: 10px;
    align-self: auto;
}

#topitem {
    font-weight: 600;
}

#yourname {
    text-align: left;
    width: 700px;
}
#first-column {
    background-color: white;
}
/*
#second-column {
    background-color: white;
}
*/

.panel {
    background-color: white;
    padding-left: 20px;
}

/* #footer {
    background-color: lightgray;
}*/

.navbar-text {
    text-align: center;
}

#footer1 {
    margin-top: 10px;
    padding-top: 10px;
    border-top-width: 5px;
    background-color: lightgray;
    text-align: center;
}
.row h3 {
    position: absolute;
    bottom: 20px;
    width: 80%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }